<div class="border">
    <button id="btnDictionary" type="button" class="accountBtn">Dictionary</button>
</div>
<div class="border">
    <button id="btnContact" type="button" class="accountBtn">Contact</button>
</div>
<div class="border">
    <button id="btnAbout" type="button" class="accountBtn">About</button>
</div>
<div class="vertical-line"></div>
<nav>
    <div class="dropdown">
        <button onclick='document.getElementById("account-panel").classList.toggle("show");'
            class="accountBtn">{{.Name}}</button>
        <div id="account-panel" class="dropdown-content">
            <a href="#">account</a>
            <a href="#">settings</a>
            <a href="#">logout</a>
        </div>
    </div>
</nav>