.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding-top: 7px;
    z-index: 1;
    min-width: auto;
}

.dropdown-content a {
    background-color: gray;
    color: black;
    padding: 6px 4px;
    text-decoration: none;
    display: block;
    transition: 200ms;
}

.dropdown-content a:hover {
    background-color: rgb(164, 164, 164);
    color: white;
    transition: 200ms;
}

.show {
    display: block;
}